# ROS 2 Build Folders
install/
build/
log/
src/f1tenth_system
data/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE and System Files
.vscode/
.claude/
.DS_Store
*.swp
*.bak

# Temporary files
.python_history

# data
bags/
f1tenth_data/